In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
from datetime import date
import json

In [2]:
Ticker_list = ["RACE", "TSLA", "FCAU", "GM", "HMC", "TM", "VLVLY"]
data = pd.DataFrame(columns=Ticker_list)

In [3]:
data_query = yf.download(Ticker_list, start="2019-1-1", end="2020-2-13")
sorted_data = data_query['Adj Close']
final_data_adj_close_df = pd.DataFrame(sorted_data)
final_data_adj_close_df

[*********************100%***********************]  7 of 7 completed

,FCAU,GM,HMC,RACE,TM,TSLA,VLVLY
Date,,,,,,,
2019-01-02,12.355086,32.282429,25.483349,97.880859,114.741653,310.119995,11.992154
2019-01-03,12.165405,30.948524,25.136902,96.175140,113.133217,300.359985,11.735113
2019-01-04,12.924127,31.984938,26.282108,101.381569,118.146011,317.690002,12.408094
2019-01-07,13.087942,32.973373,26.772915,103.612892,119.675507,334.959991,12.384727
2019-01-08,13.225891,33.405216,27.408073,107.678864,120.691879,335.350006,12.735238
...,...,...,...,...,...,...,...
2020-02-07,13.190000,33.630001,26.490000,166.759995,142.339996,748.070007,17.570000
2020-02-10,13.130000,34.250000,26.719999,167.550003,141.279999,771.280029,17.889000
2020-02-11,13.320000,35.009998,26.920000,171.160004,142.110001,774.380005,17.895000
2020-02-12,13.650000,35.490002,27.160000,173.789993,142.429993,767.289978,17.980000
2020-02-13,13.440000,35.290001,27.080000,172.309998,141.100006,804.000000,17.832001

In [4]:
data_query_2 = yf.download(Ticker_list, start="2019-1-1", end="2020-2-13")
sorted_data_2 = data_query_2['Volume']
final_data_volume_df = pd.DataFrame(sorted_data_2)
final_data_volume_df

[*********************100%***********************]  7 of 7 completed

                FCAU        GM     HMC    RACE      TM      TSLA  VLVLY
Date
2019-01-02   5193200   7662300  655900  293100  169900  11658600  36400
2019-01-03   3522700  11618300  937000  450400  309500   6965200  60800
2019-01-04  13734800  10784000  826300  524200  307500   7394100  28300
2019-01-07   3399400  10722300  806700  427500  156100   7551200  48100
2019-01-08   3505100  10532900  949400  762200  150400   7008500  95200
...              ...       ...     ...     ...     ...       ...    ...
2020-02-07   3497700  14437100  736300  396700   98000  17063500  14800
2020-02-10   2420600  12260600  644200  319500  135800  24689200  13300
2020-02-11   3663600  12718600  450400  307500  151200  11697500  15700
2020-02-12   2651600  12076300  413200  261500   99100  12022500  28000
2020-02-13   1495800   7578400  438500  334800  135900  26231600  18300

[282 rows x 7 columns]

In [5]:
volume_adjclose_merge = pd.merge(final_data_adj_close_df, final_data_volume_df, on = "Date", how = "outer")
volume_adjclose_merge

,FCAU_x,GM_x,HMC_x,RACE_x,TM_x,TSLA_x,VLVLY_x,FCAU_y,GM_y,HMC_y,RACE_y,TM_y,TSLA_y,VLVLY_y
Date,,,,,,,,,,,,,,
2019-01-02,12.355086,32.282429,25.483349,97.880859,114.741653,310.119995,11.992154,5193200,7662300,655900,293100,169900,11658600,36400
2019-01-03,12.165405,30.948524,25.136902,96.175140,113.133217,300.359985,11.735113,3522700,11618300,937000,450400,309500,6965200,60800
2019-01-04,12.924127,31.984938,26.282108,101.381569,118.146011,317.690002,12.408094,13734800,10784000,826300,524200,307500,7394100,28300
2019-01-07,13.087942,32.973373,26.772915,103.612892,119.675507,334.959991,12.384727,3399400,10722300,806700,427500,156100,7551200,48100
2019-01-08,13.225891,33.405216,27.408073,107.678864,120.691879,335.350006,12.735238,3505100,10532900,949400,762200,150400,7008500,95200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-07,13.190000,33.630001,26.490000,166.759995,142.339996,748.070007,17.570000,3497700,14437100,736300,396700,98000,17063500,14800
2020-02-10,13.130000,34.250000,26.719999,167.550003,141.279999,771.280029,17.889000,2420600,12260600,644200,319500,135800,24689200,13300
2020-02-11,13.320000,35.009998,26.920000,171.160004,142.110001,774.380005,17.895000,3663600,12718600,450400,307500,151200,11697500,15700
2020-02-12,13.650000,35.490002,27.160000,173.789993,142.429993,767.289978,17.980000,2651600,12076300,413200,261500,99100,12022500,28000
2020-02-13,13.440000,35.290001,27.080000,172.309998,141.100006,804.000000,17.832001,1495800,7578400,438500,334800,135900,26231600,18300

In [6]:
volume_adjclose_merge = volume_adjclose_merge.rename(columns={'FCAU_x':"FCAU ADJ Close", 'GM_x':"GM ADJ Close", 'HMC_x':"HMC ADJ Close", 'RACE_x':"Race ADJ Close", 'TM_x':"TM ADJ Close", 'TSLA_x':"TSLA ADJ Close", 'VLVLY_x':"VLVLY ADJ Close",
       'FCAU_y':"FCAU Volume", 'GM_y':"GM Volume", 'HMC_y':"HMC Volume", 'RACE_y':"Race Volume", 'TM_y':"TM Volume", 'TSLA_y':"TSLA Volume", 'VLVLY_y':"VLVLY Volume"})
volume_adjclose_merge

,FCAU ADJ Close,GM ADJ Close,HMC ADJ Close,Race ADJ Close,TM ADJ Close,TSLA ADJ Close,VLVLY ADJ Close,FCAU Volume,GM Volume,HMC Volume,Race Volume,TM Volume,TSLA Volume,VLVLY Volume
Date,,,,,,,,,,,,,,
2019-01-02,12.355086,32.282429,25.483349,97.880859,114.741653,310.119995,11.992154,5193200,7662300,655900,293100,169900,11658600,36400
2019-01-03,12.165405,30.948524,25.136902,96.175140,113.133217,300.359985,11.735113,3522700,11618300,937000,450400,309500,6965200,60800
2019-01-04,12.924127,31.984938,26.282108,101.381569,118.146011,317.690002,12.408094,13734800,10784000,826300,524200,307500,7394100,28300
2019-01-07,13.087942,32.973373,26.772915,103.612892,119.675507,334.959991,12.384727,3399400,10722300,806700,427500,156100,7551200,48100
2019-01-08,13.225891,33.405216,27.408073,107.678864,120.691879,335.350006,12.735238,3505100,10532900,949400,762200,150400,7008500,95200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-07,13.190000,33.630001,26.490000,166.759995,142.339996,748.070007,17.570000,3497700,14437100,736300,396700,98000,17063500,14800
2020-02-10,13.130000,34.250000,26.719999,167.550003,141.279999,771.280029,17.889000,2420600,12260600,644200,319500,135800,24689200,13300
2020-02-11,13.320000,35.009998,26.920000,171.160004,142.110001,774.380005,17.895000,3663600,12718600,450400,307500,151200,11697500,15700
2020-02-12,13.650000,35.490002,27.160000,173.789993,142.429993,767.289978,17.980000,2651600,12076300,413200,261500,99100,12022500,28000
2020-02-13,13.440000,35.290001,27.080000,172.309998,141.100006,804.000000,17.832001,1495800,7578400,438500,334800,135900,26231600,18300

In [7]:
final_df = pd.DataFrame(volume_adjclose_merge)
final_df.head()

,FCAU ADJ Close,GM ADJ Close,HMC ADJ Close,Race ADJ Close,TM ADJ Close,TSLA ADJ Close,VLVLY ADJ Close,FCAU Volume,GM Volume,HMC Volume,Race Volume,TM Volume,TSLA Volume,VLVLY Volume
Date,,,,,,,,,,,,,,
2019-01-02,12.355086,32.282429,25.483349,97.880859,114.741653,310.119995,11.992154,5193200,7662300,655900,293100,169900,11658600,36400
2019-01-03,12.165405,30.948524,25.136902,96.175140,113.133217,300.359985,11.735113,3522700,11618300,937000,450400,309500,6965200,60800
2019-01-04,12.924127,31.984938,26.282108,101.381569,118.146011,317.690002,12.408094,13734800,10784000,826300,524200,307500,7394100,28300
2019-01-07,13.087942,32.973373,26.772915,103.612892,119.675507,334.959991,12.384727,3399400,10722300,806700,427500,156100,7551200,48100
2019-01-08,13.225891,33.405216,27.408073,107.678864,120.691879,335.350006,12.735238,3505100,10532900,949400,762200,150400,7008500,95200

In [8]:
final_df = final_df.dropna(how="any")
final_df

,FCAU ADJ Close,GM ADJ Close,HMC ADJ Close,Race ADJ Close,TM ADJ Close,TSLA ADJ Close,VLVLY ADJ Close,FCAU Volume,GM Volume,HMC Volume,Race Volume,TM Volume,TSLA Volume,VLVLY Volume
Date,,,,,,,,,,,,,,
2019-01-02,12.355086,32.282429,25.483349,97.880859,114.741653,310.119995,11.992154,5193200,7662300,655900,293100,169900,11658600,36400
2019-01-03,12.165405,30.948524,25.136902,96.175140,113.133217,300.359985,11.735113,3522700,11618300,937000,450400,309500,6965200,60800
2019-01-04,12.924127,31.984938,26.282108,101.381569,118.146011,317.690002,12.408094,13734800,10784000,826300,524200,307500,7394100,28300
2019-01-07,13.087942,32.973373,26.772915,103.612892,119.675507,334.959991,12.384727,3399400,10722300,806700,427500,156100,7551200,48100
2019-01-08,13.225891,33.405216,27.408073,107.678864,120.691879,335.350006,12.735238,3505100,10532900,949400,762200,150400,7008500,95200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-07,13.190000,33.630001,26.490000,166.759995,142.339996,748.070007,17.570000,3497700,14437100,736300,396700,98000,17063500,14800
2020-02-10,13.130000,34.250000,26.719999,167.550003,141.279999,771.280029,17.889000,2420600,12260600,644200,319500,135800,24689200,13300
2020-02-11,13.320000,35.009998,26.920000,171.160004,142.110001,774.380005,17.895000,3663600,12718600,450400,307500,151200,11697500,15700
2020-02-12,13.650000,35.490002,27.160000,173.789993,142.429993,767.289978,17.980000,2651600,12076300,413200,261500,99100,12022500,28000
2020-02-13,13.440000,35.290001,27.080000,172.309998,141.100006,804.000000,17.832001,1495800,7578400,438500,334800,135900,26231600,18300

In [9]:
final_df['FCAU ADJ Close'] = final_df['FCAU ADJ Close'].map("${:.2f}".format)
final_df['GM ADJ Close'] = final_df['GM ADJ Close'].map("${:.2f}".format)
final_df['HMC ADJ Close'] = final_df['HMC ADJ Close'].map("${:.2f}".format)
final_df['Race ADJ Close'] = final_df['Race ADJ Close'].map("${:.2f}".format)
final_df['TM ADJ Close'] = final_df['TM ADJ Close'].map("${:.2f}".format)
final_df['TSLA ADJ Close'] = final_df['TSLA ADJ Close'].map("${:.2f}".format)
final_df['VLVLY ADJ Close'] = final_df['VLVLY ADJ Close'].map("${:.2f}".format)
final_df['FCAU Volume'] = final_df['FCAU Volume'].map("{:,}".format)
final_df['GM Volume'] = final_df['GM Volume'].map("{:,}".format)
final_df['HMC Volume'] = final_df['HMC Volume'].map("{:,}".format)
final_df['Race Volume'] = final_df['Race Volume'].map("{:,}".format)
final_df['TM Volume'] = final_df['TM Volume'].map("{:,}".format)
final_df['TSLA Volume'] = final_df['TSLA Volume'].map("{:,}".format)
final_df['VLVLY Volume'] = final_df['VLVLY Volume'].map("{:,}".format)
final_df.head()

,FCAU ADJ Close,GM ADJ Close,HMC ADJ Close,Race ADJ Close,TM ADJ Close,TSLA ADJ Close,VLVLY ADJ Close,FCAU Volume,GM Volume,HMC Volume,Race Volume,TM Volume,TSLA Volume,VLVLY Volume
Date,,,,,,,,,,,,,,
2019-01-02,$12.36,$32.28,$25.48,$97.88,$114.74,$310.12,$11.99,"5,193,200","7,662,300","655,900","293,100","169,900","11,658,600","36,400"
2019-01-03,$12.17,$30.95,$25.14,$96.18,$113.13,$300.36,$11.74,"3,522,700","11,618,300","937,000","450,400","309,500","6,965,200","60,800"
2019-01-04,$12.92,$31.98,$26.28,$101.38,$118.15,$317.69,$12.41,"13,734,800","10,784,000","826,300","524,200","307,500","7,394,100","28,300"
2019-01-07,$13.09,$32.97,$26.77,$103.61,$119.68,$334.96,$12.38,"3,399,400","10,722,300","806,700","427,500","156,100","7,551,200","48,100"
2019-01-08,$13.23,$33.41,$27.41,$107.68,$120.69,$335.35,$12.74,"3,505,100","10,532,900","949,400","762,200","150,400","7,008,500","95,200"